form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    margin: auto;
    padding: 10px;
    border: solid rgb(2, 90, 124);
    background-color: aliceblue;
    
}

h1{
    text-align: center;
}

body{
    background-color:rgb(9, 154, 212) ;
}

img{
    width: 300px;
    height: 200px;
    border-radius: 5px ;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bolder;
}


input[type="button"], input[type="reset"] {
    padding: 10px 30px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(51, 180, 255);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}


input[type="button"]:hover,
input[type="reset"]:hover {
    background-color: #00ff44;
}